.firstSlide {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 350px) minmax(auto, 820px) minmax(auto, 350px) 1fr;
    grid-template-rows: minmax(auto, 250px) minmax(auto, 300px) minmax(auto, 350px);
    grid-template-areas:". paw-left title . ."
                        ". . text paw-right ."
                        ". dog buttons cat .";
    margin-bottom: 40px;
}

.title {
    grid-area: title;
    font-style: normal;
    font-weight: 700;
    line-height: 155px;
    letter-spacing: 0.145em;
    text-align: center;
    white-space: nowrap;
    color: var(--color-header);
    font-size: 100px;
}


.dog {
    grid-area: dog;
    /*background-color: black;*/
    /*grid-row: 2/4;*/
    grid-column: 2;
    align-self: end;
    justify-self: center;

}

.paw_left {
    grid-area: paw-left;
    align-self: start;
    justify-self: center;
}

.paw_right {
    grid-area: paw-right;
    align-self: end;
    justify-self: center;
}

.cat {
    grid-area: cat;
    /*grid-column: 3;*/
    /*grid-row: 3;*/
    align-self: end;
    justify-self: center;
}

.buttons {
    grid-area: buttons;
    margin: 0 auto;
    display: flex;
    gap: 33px;
    align-items: center;


}

.text {
    grid-area: text;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 319.02%;
    text-align: center;
    letter-spacing: 0.035em;

    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

}

.btn {
    background: var(--color-primary);

    width: 380px;
    cursor: pointer;
    border-radius: 65px;

    height: 95px;
    white-space: nowrap;

    /*font-family: Inter,sans-serif;*/


}

.btn p {
    color: var(--color-white);
    font-size: 20px;
    line-height: 300%;
    font-weight: 600;
    mix-blend-mode: normal;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}



