.firstSlide {
   /* display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 150px;*/

    display: flex;
    justify-content: space-between;
    padding: 50px 15px 150px;
}

.h1 {
    padding: 20px 10px 50px 100px;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.26em;

    color: #FD7D00;
    white-space: nowrap;
}
.text_block {
    position: relative;
}

.text {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    line-height: 57px;
    letter-spacing: 0.035em;

    color: #000000;
}

.img {

}

/*.title {
    !*grid*!
    grid-area: title;
    position: absolute;
    width: 621px;
    height: 74px;
    left: 204px;
    top: 198px;

    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.26em;

    color: #fd7d00;
}*/

/*.text {
    grid-area: text;

    position: absolute;
    width: 750px;
    height: 652px;
    left: 81px;
    top: 300px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.035em;

    color: #000000;
}

.animals {
    position: absolute;
    width: 420px;
    height: 772px;
    left: 718px;
    top: 116px;
}

.title1 {
    position: static;
    width: 402px;
    height: 60px;
    left: 0px;
    top: 32px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;

    color: #1e212c;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
}*/
